* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;

    font-family: 'Poppins';
}

.conteiner {
    background: #242424;
    color: #fff;
    min-width: 50%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}