* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;

    font-family: 'Poppins';
}

.form-box {
    background: #242424;
    color: #fff;
    min-width: 50%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    right: 0;
    overflow: hidden;
}

.form-box h2, button, a{
    color: #8B32C5;
}