* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;

    font-family: 'Poppins';
}

.conteiner {
    background: #242424;
    color: #fff;
    min-width: 50%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.conteiner h2, button, a{
    color: #8B32C5;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

.span {
    font-size: 0.8rem;
    padding: 16px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #64258f;
}

button {
    margin: 1rem;
    padding: 5px 180px;
    border-radius: 10px;
    background: #8B32C5;
    color: #fff;
    border: none;

    font-family: 'Poppins';
    font-size: 15px;
}

button:hover {
    background: #64258f;
}